#overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: auto; 
    max-width: 800px; 
    max-height: 80%; 
    padding: 20px; 
    background-color: rgba(244, 187, 228, 1); 
    z-index: 999;
    color: #50243e; 
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    text-align: center; 
    overflow-y: auto; }



body {
        font-family: Arial, sans-serif;
        background-color: #dfbfcd;
        color: #ffffff;
    }
    
table {
        width: 95%;
        margin: 20px auto;
        border-collapse: collapse;
        border: 10px solid #fff;
        border-radius: 10px;
        height: 550px;
    }
    
th, td {
        padding: 15px;
        text-align: center;
        border: 10px solid #fff;
        font-size: 40px;
    }
    
th {
        background-color: #f1b8cb;
        border-bottom: 2px solid #fff;
        font-size: 18px;
    }
    
tr:nth-child(even) {
        background-color: #eeb7cb;
    }
    
table:first-of-type tr td:hover {
        background-color: #c2185b; /* Darker pink background color on hover */
        color: black;
        opacity: 0.5;
}


#scoreboard {
    border-collapse: collapse;
    width: 60%; 
    margin: auto; 
    height: 300px;
}

#scoreboard th,
#scoreboard td {
    border: 10px solid #eec6d0;
    padding: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #b53b70; 
    color: #f0e4e6; 
}


#scoreboard td {
    font-size: 100px; 
}
